<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thank you</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
	<style>
		*{
			margin: 0;
		}
		body{
			width: 100%;
			height: 100vh;
			font-size: 20px;
			background-color: rgb(187, 187, 245);
		}
		.tirtle{
			margin: 10px;
			text-align: center;
			font-family: sans-serif;
			color: white;
		}
		img{
			width: 219px;
			height: 192px;
     		border-radius: 50px
		}
		.image{
			display: block;
			text-align: center;
			font-size: 14px;
		}
		.src{
			margin:10px;
		}
		.container{
			margin-left: 10px;
		}
		a{
			margin-top: 10px;
			color: white;
			text-decoration: none;
		}
		a .fa{
			font-size: large;
			margin-left: 5px;
		}
		p{
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div class="tirtle"><p><h1>Cảm ơn bạn đã ghé thăm trang web</h1></p></div>
	
	<div class="image">
		<img src="https://cdn.glitch.com/441f3604-33d6-42fa-b976-3b1456a0df5d%2F(8)%20%E3%80%90%E5%88%9D%E9%9F%B3%E3%83%9F%E3%82%AF%E3%80%91%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3%E3%83%A9%E3%82%A4%E3%83%84%E3%83%BB%E3%82%BB%E3%83%AC%E3%83%8A%E3%83%BC%E3%83%87%20_%20Greenlights%20Serenade%E3%80%90%E3%82%AA%E3%83%AA%E3%82%B8%E3%83%8A%E3%83%ABMV%E3%80%91%20-%20YouTube%20-%20Google%20Chrome%207_22_2021%2011_42_01%20AM%20(3).png?v=1626932244596" alt="Lỗi Ảnh">
		<p class="src">Nguồn từ Hatsune Miku-Magical Mirai 2018</p>
		<p>Ảnh đại diện</p>
		<br>
	</div>
	<div class="container">
		<p>Câu trả lời cho câu hỏi của bạn sẽ được tôi gửi về email của bạn sau một khoảng thời gian ngắn</p>
		<p class="attention">(Lưu ý: Email của bạn gửi phải là email của bạn!!!)</p>
		<a href="/">Back to Home<i class="fa fa-arrow-right"></i><i class="fa fa-home"></i></a>
	</div>
</body>
</html>